body{
    padding: 0;
    margin: 0;
    font-family: 'Baloo 2';font-size: 18px;
    background-image: url(https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
        background-repeat: no-repeat;
            background-size: cover;
                background-position: center;
    color: beige;
    /*background:linear-gradient(#2F55F8,#3ABCF0);*/
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.grid-container {
    gap: 0px;
    display: flex;
    grid-template-columns: auto auto auto;
  }
  .grid-container > div {
    background-color: rgba(202, 209, 245, 0.900);
    filter: drop-shadow(1px 3px 90px #2a8bb1);
  }
/********estilos padrões********/
.bg-primary{
    background-color: rgba(202, 209, 245, 0.900);
    filter: drop-shadow(1px 3px 20px #2a8bb1);
}
.bg-secondary{
    background-color: rgba(202, 209, 245, 0.700);
    filter: drop-shadow(1px 3px 20px #2a8bb1);
}
.border{
    border-radius: 0.5rem;
}
.border-1{
    border-radius: 1.5rem;
}
.blur{
    background: rgba(0, 0, 0, 0.100);
    backdrop-filter: saturate(180%) blur(10px); /* Chrome and Opera */
}
.sombra{
    box-shadow: 2px 2px 20px 1px black;
}
.img-perfil{
    border: 1px solid rgb(127, 146, 255);
    border-radius: 50%;
}

/********estilos de textos********/
#list-social{
    list-style: none;
    padding: 5px;
}
.h1{
    text-transform: uppercase;
}

/********alinhamentos********/
.p-align{
    text-align: justify;
    padding: 5px;
    margin: 15px;
    max-width: max-content;
}

.center{
    text-align: center;
}

.my{
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
}
.mx{
    padding: 5px;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

/****botoes e links***/
.icons{
    font-size: 30px;
    margin: 5px;
}
/**** Link *****/
.btn{
    background-color: rgb(255, 255, 255);
    padding: 15px 100px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.281);
    text-decoration: none;
}
.btn:hover{
    padding: 18px 101px;
    box-shadow: 2px 1px 10px 2px rgba(0, 0, 0, 0.205);
}
.btn a:hover{
    color: rgb(0, 0, 0);
}

input{
    color: cornsilk;
    background-color: rgb(141, 181, 221);
    padding: 8px 30px;
    border-radius: 5px;
    font-size: large;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.281);
}
textarea{
    color: cornsilk;
    background-color: rgb(141, 181, 221);
    font-size: 1em;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.281);
    min-width: 35vw;
    max-width: 50vw;
}